@page
@model DotnetAPI.Pages.BessAdmin.PcsPage.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Pcs</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Pcs.ModbusId" class="control-label"></label>
                <select asp-for="Pcs.ModbusId" class ="form-control" asp-items="ViewBag.BatteryId"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Pcs.BatteryId" class="control-label"></label>
                <select asp-for="Pcs.BatteryId" class ="form-control" asp-items="ViewBag.BatteryId"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Pcs.PcsModelId" class="control-label"></label>
                <select asp-for="Pcs.PcsModelId" class ="form-control" asp-items="ViewBag.PcsModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>