@page
@model DotnetAPI.Pages.Auth.IndexModel

@{
  ViewData["Title"] = "Login";
}

<div class="row mt-5">
  <div class="col-6 mx-auto">
    <form id="account" method="post" class="row border border-2 rounded px-4 pt-4 pb-5 d-flex flex-column align-items-center">
      <h3 class="mb-3 text-center">System Login</h3>

      <div asp-validation-summary="ModelOnly" class="text-yuzz-purple mb-3"></div>

      <div class="col-10">
        <span class="text-danger">*</span>
        <label asp-for="Input.UserName" class="form-label"></label>
        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.UserName" class="text-yuzz-purple"></span>
      </div>

      <div class="col-10">
        <span class="text-danger">*</span>
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-yuzz-purple"></span>
      </div>

      <div class="col-9 mt-4">
        <button id="login-submit" type="submit" class="btn btn-primary w-100">Log in</button>
      </div>
    </form>
  </div>
</div>