@import url(./luxe_uno.css);

body {
    font-family: "LuxeUno", sans-serif;
    background-color: #000000;
    color: #ffffff;
}


/* Custom styles */

.text-yuzz-purple {
    color: #F203BA;
}

/* Style Overrides */

.nav-link {
    padding: 15px 20px !important;
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    font-weight: 400;
    font-size: 16pt;
}

.nav-link::before {
    color: white;
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to right, #DF5500 20%, #F203BA);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}

.nav-link:hover::before {
    color: white;
    opacity: 1;
}

.nav-link:hover {
    color: white;
}

.text-orange {
    color: #DF5500;
}

.btn-primary {
    padding: 20px 40px !important;
    position: relative;
    background-color: #000000;
    border: 2px solid white;
    font-weight: 600;
    font-size: 16pt;
}

.btn-primary::before {
    color: white;
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to right, #DF5500 20%, #F203BA);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}

.btn-primary:hover::before {
    color: white;
    opacity: 1;
}

.btn-primary:hover {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-primary:active {
    background-color: white !important;
    color: black !important;
    border-color: white !important;

}

.form-control {
    padding: 10px 10px;
    border: 2px solid white;
    background-color: #000000;
    color: #ffffff;
    font-size: 14pt;
    margin-bottom: 10px;
}

.form-control:focus {
    background-color: #000000;
    color: #ffffff;
    outline: 1px solid #DF5500;
    box-shadow: 0 0 4px 3px #DF5500;
    border-color: #ffffff;
}

.control-label {
    font-size: 16pt;
    margin-bottom: 5px;
}