body {
    background-color: #181a1b !important;
    color: #e8e6e3 !important;
}

.navbar, .navbar-default, .navbar-light, .navbar-dark, .bg-white, .border-bottom {
    background-color: #23272b !important;
    color: #e8e6e3 !important;
    border-color: #444 !important;
}

.navbar-brand, .navbar-nav .nav-link, .navbar-nav .nav-link.active {
    color: #e8e6e3 !important;
}

.nav-link.text-dark {
    color: #8ab4f8 !important;
}

.footer, .border-top {
    background-color: #23272b !important;
    color: #e8e6e3 !important;
    border-color: #444 !important;
}

.card, .modal-content, .form-control, .table {
    background-color: #23272b !important;
    color: #e8e6e3 !important;
}

input, textarea, select {
    background-color: #23272b !important;
    color: #e8e6e3 !important;
    border-color: #444 !important;
}

.btn, .btn-primary, .btn-secondary {
    background-color: #333 !important;
    color: #e8e6e3 !important;
    border-color: #444 !important;
}